@use"./variables" as*;

// tablet
// home

@media only screen and (max-width: 1024px) {
  .barra-menu{
            a{
              font-size: 14px;
            }
          }
  .mas-vendidos,
  .nosotros-box,
  .beneficios-box,
  .contacto-box,
  .preguntas-box,
  .tienda-box {
    @include caja-destacada-mobile;
    h2 {
      font-size: 12px;
      margin-top: 5px;
    }
  }  
   .info {
    display: flex;
    gap: 20px;
    padding: 20px;

    div {
      padding: 20px;
      display: flex;
      gap: 10px;

      h2 {
        font-size: 12px;
        margin: 0;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .info-2 {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 4px;
  h1{
    font-size: 25px;
  }
  h3 {
    font-size: 12px;
    line-height: 1.3;
    padding-bottom: 10px;
  }
}
.productos01{
  h3{
    padding-bottom: 8px;
  }
  button{
    padding: 8px;
  }
}
.categorias {
  .cuadros-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .cuadro {
      padding: 20px;
      width: 150px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
    }
  }
}
.contenido {
  .logo {
    width: 60px; 
    height: auto;
  }
  p{
    font-size: 13px !important;
  }
}
}