.mas-vendidos,
.nosotros-box,
.beneficios-box,
.contacto-box,
.preguntas-box,
.tienda-box, .categorias h2 {
  background-color: #ff7d03;
  border-radius: 10px;
  box-shadow: box-shadow 0 4px 8px rgba(134, 57, 19, 0.323);
  color: #484848;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  font-size: 12px;
}

.barra-menu {
  background-color: #ff7d03;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barra-menu img {
  width: 50px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
ul a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
}
ul a:active {
  text-decoration: underline;
}

/* footer de todos */
footer {
  color: #ffffff;
  background-color: rgb(20, 20, 20);
  opacity: 0.9;
  padding: 30px;
}
footer .izquierda-footer h4 {
  font-size: 15px;
  padding: 5px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footer-container .logo-texto-footer {
  max-width: 400px;
  width: auto;
}
footer .footer-container .logo-texto-footer img {
  width: 130px;
  margin-bottom: 10px;
  border-radius: 15px;
}
footer .footer-container .logo-texto-footer p {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  max-width: 100%;
  display: block;
}
footer .medio-footer {
  max-width: 200px;
}
footer .medio-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-style: italic;
}
footer .medio-footer a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 14px;
}
footer .izquierda-footer {
  max-width: 200px;
}
footer .izquierda-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-style: italic;
}
footer .izquierda-footer button {
  background: none;
  border: solid;
  border-radius: 8px;
  padding: 8px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}
footer .izquierda-footer button .icono-button {
  width: 16px;
  vertical-align: middle;
  margin-left: 5px;
}
footer .derecha-footer {
  max-width: 200px;
}
footer .derecha-footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-style: italic;
}
footer .derecha-footer .instagram,
footer .derecha-footer .email {
  width: 30px;
  margin-right: 10px;
}

.wp {
  width: 100px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ababab;
}

.banner {
  background-image: url(./medios/banner.jpg);
  background-size: cover;
  background-position: center;
}
.banner .sombra-textos {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.816);
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}
.info div {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 7px 15px;
  gap: 15px;
  max-width: 300px;
  background-color: #ff7d03;
  box-shadow: box-shadow 0 4px 8px rgba(134, 57, 19, 0.323);
  margin: auto;
}
.info img {
  width: 50px;
  height: 50px;
}
.info h2 {
  margin: 0;
  font-size: 16px;
  color: #484848;
}

.mas-vendidos h2,
.nosotros-box h2,
.beneficios-box h2,
.contacto-box h2,
.preguntas-box h2,
.tienda-box h2 {
  font-size: 12px;
  margin-top: 5px;
}

.info-2 h1 {
  color: #484848;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  padding: 20px;
}
.info-2 h3 {
  color: #484848;
  font-size: small;
  font-style: normal;
  text-align: center;
}

.publicidad-sobrenosotros {
  height: 300px;
  display: flex;
  border-radius: 15px;
  padding: 30px;
  color: #ffffff;
  background-image: linear-gradient(to right, #ff7d03, rgba(255, 119, 0, 0.313)), url("./medios/banner sobre nosotros.jpg");
  background-size: cover;
  background-position: center;
  margin: 20px;
  box-shadow: box-shadow 0 8px 15px rgba(0, 0, 0, 0.2);
}
.publicidad-sobrenosotros .contenido-texto {
  max-width: 600px;
  margin-top: 10px;
}
.publicidad-sobrenosotros .contenido-texto h1 {
  font-style: italic;
  font-size: 35px;
  margin-bottom: 10px;
}
.publicidad-sobrenosotros .contenido-texto h3 {
  font-size: 18px;
}

.productos01 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.productos01 div {
  border: 2px solid #ff7d03;
  border-radius: 15px;
  box-shadow: box-shadow 0 4px 8px rgba(134, 57, 19, 0.323);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}
.productos01 div:hover {
  transform: scale(1.02);
}
.productos01 img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 15px;
}
.productos01 h4 {
  color: #484848;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: lowercase;
}
.productos01 h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #484848;
}
.productos01 button {
  background-color: #ff7d03;
  color: #484848;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.productos01 button:hover {
  background-color: rgba(2, 229, 51, 0.3568627451);
}

.categorias h3 {
  font-style: italic;
  font-size: large;
  color: #484848;
  text-align: center;
  padding-top: 10px;
}
.categorias h4 {
  font-size: 12px;
  text-align: center;
  color: #484848;
}

.cuadros-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.cuadro {
  background-color: #ff7d03;
  color: #484848;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  box-shadow: box-shadow 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: auto;
  text-align: center;
}

.cuadro:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.info-ecommerce {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "izquierda centro derecha";
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
.info-ecommerce .columna:first-child {
  grid-area: izquierda;
  display: flex;
  justify-content: center;
}
.info-ecommerce .columna:first-child img {
  max-width: 100%;
  border-radius: 20px;
  height: auto;
}
.info-ecommerce .columna:last-child {
  grid-area: derecha;
  display: flex;
  justify-content: center;
}
.info-ecommerce .columna:last-child img {
  max-width: 100%;
  border-radius: 20px;
  height: auto;
}
.info-ecommerce .contenido {
  grid-area: centro;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0 15px;
}
.info-ecommerce .contenido .logo {
  width: 150px;
  max-width: 100%;
  border-radius: 15px;
}
.info-ecommerce .contenido p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}
.info-ecommerce .iconos {
  display: flex;
  gap: 15px;
}
.info-ecommerce .iconos img {
  width: 28px;
  cursor: pointer;
  max-width: 100%;
  border-radius: 20px;
  height: auto;
}

.presentacion-contactos {
  position: relative;
}
.presentacion-contactos h2 {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-size: 20px;
  margin: 20px;
}
.presentacion-contactos h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
}
.presentacion-contactos p {
  text-align: center;
  font-style: italic;
  margin: 20px;
}

.info-contactos {
  position: relative;
  text-align: center;
}
.info-contactos h2 {
  margin-top: 60px;
  text-decoration: underline;
  font-size: 20px;
}
.info-contactos p {
  margin-top: 5px;
  margin: 20px;
}
.info-contactos img {
  width: 30px;
  top: 40px;
}

.horarios-contactos h2 {
  text-decoration: underline;
  margin: 20px;
}
.horarios-contactos p {
  margin: 20px;
}

.info-contactos2 {
  position: relative;
}
.info-contactos2 img {
  width: 20px;
  margin: 20px;
}
.info-contactos2 .telefono {
  top: -1px;
  left: 24px;
  font-size: 18px;
  position: absolute;
  margin: 20px;
}
.info-contactos2 .mail {
  top: 60px;
  left: 28px;
  font-size: 18px;
  position: absolute;
  margin: 20px;
}
.info-contactos2 .ubicacion {
  top: 120px;
  left: 28px;
  margin: 20px;
  font-size: 18px;
  position: absolute;
}

.formulario-contacto h1 {
  font-size: 25px;
  padding-top: 8px;
  padding-left: 18px;
}
.formulario-contacto div {
  margin: 20px;
}

.terminos-y-condiciones {
  margin: 20px;
}

.cuestionario {
  padding-left: 16px;
}
.cuestionario h2 {
  text-align: left;
  text-decoration: solid;
  background-color: #484848;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.132);
  border: rgba(255, 125, 3, 0.1176470588);
  border-radius: 10px;
  color: rgb(255, 140, 0);
  padding: 20px;
  font-size: 20px;
}
.cuestionario li {
  list-style: none;
}
.cuestionario h3 {
  font-size: 17px;
  margin-left: 12px;
}

.titulos {
  text-align: center;
  text-decoration: solid;
  padding: 20px;
}
.titulos h2 {
  margin: 20px;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
}
.titulos h1 {
  font-size: 25px;
}
.titulos p {
  color: black;
  padding: 7px 10px;
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.info-sobrenosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 3rem;
  max-width: 1200px;
  margin: auto;
}
.info-sobrenosotros .contenido-texto {
  max-width: 500px;
  text-align: left;
}
.info-sobrenosotros .contenido-texto h1 {
  text-align: left;
  margin: 20px;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.info-sobrenosotros .contenido-texto p {
  margin: 20px;
  padding: 10px;
  padding-top: 1px;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
.contenido-img {
  display: flex;
  justify-content: center;
}
.contenido-img img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.publicidad-sobrenosotros {
  height: 300px;
  display: flex;
  border-radius: 15px;
  padding: 30px;
  color: rgb(235, 228, 228);
  background-image: linear-gradient(to right, rgb(255, 119, 0), rgba(255, 119, 0, 0.313)), url("./medios/banner sobre nosotros.jpg");
  background-size: cover;
  background-position: center;
  margin: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.338);
}
.publicidad-sobrenosotros .contenido-texto-2 {
  max-width: 600px;
  margin-top: 10px;
}
.publicidad-sobrenosotros .contenido-texto-2 h2 {
  font-style: italic;
  font-size: 35px;
  margin-bottom: 10px;
}
.publicidad-sobrenosotros .contenido-texto-2 h3 {
  font-size: 18px;
}

.beneficios-sobrenosotros h3 {
  text-align: center;
  font-size: 30px !important;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.beneficios-sobrenosotros p {
  margin: 10px;
  padding-top: 10px;
  font-size: 16px !important;
  max-width: 670px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.cuadros-info-nosotros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.cuadros-info-nosotros div {
  background-color: #ff7d03;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.2);
}
.cuadros-info-nosotros div img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.cuadros-info-nosotros div h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.cuadros-info-nosotros div p {
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
  color: rgb(0, 0, 0);
}

/*# sourceMappingURL=style.css.map */
